<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
version="2.5">
<display-name>My First Servlet - www.way4code.com</display-name>
<description>
My First Servlet
</description>    
<servlet> 
   <servlet-name>LoginServlet</servlet-name> 
   <servlet-class>npackage.LoginServlet</servlet-class> 
</servlet> 
<servlet> 
   <servlet-name>CookieExample</servlet-name> 
   <servlet-class>CookieExample</servlet-class> 
</servlet> 
<servlet> 
   <servlet-name>Coba</servlet-name> 
   <servlet-class>Coba</servlet-class> 
</servlet> 
<!-- servlet mapping --> 
<servlet-mapping> 
   <servlet-name>LoginServlet</servlet-name> 
   <url-pattern>/LoginServlet</url-pattern> 
</servlet-mapping> 

<servlet-mapping> 
   <servlet-name>Coba</servlet-name> 
   <url-pattern>/Coba</url-pattern> 
</servlet-mapping> 
<servlet-mapping> 
   <servlet-name>CookieExample</servlet-name> 
   <url-pattern>/CookieExample</url-pattern> 
</servlet-mapping>  
</web-app> 