/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 13px/1.5 Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  background-color: #FFF; }

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
table,
address,
fieldset {
  margin-bottom: 20px; }

a {
  color: #0066FF; }

a:hover {
  color: #FF1493; }

a:focus {
  outline: 1px dotted invert; }

pre {
  margin: 5px;
  padding: 5px; }

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0; }

h1 {
  font-size: 23px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 17px;
  margin-bottom: 10px; }

h5 {
  font-size: 15px;
  margin-bottom: 5px; }

h6 {
  font-size: 13px;
  margin-bottom: 3px; }

ol {
  list-style: decimal; }

ul {
  list-style: square; }

li {
  margin-left: 30px; }

/*
  Choose a grid width, the number of columns and the margin between columns.
  The result of the following equation has to be an integer, not a fraction:

  (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* clearfix */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
table {
  width: 100%; }
  table th {
    padding: 5px;
    font-weight: bold; }
  table td {
    padding: 5px; }
  table td.price {
    text-align: right;
    white-space: nowrap; }

table.default {
  width: 100%;
  border: 1px #E3E3E3 solid; }
  table.default th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background-color: #292C33;
    color: #FFF;
    font-weight: bold; }
  table.default td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px; }

.rc {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.rc_top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px; }

.rc_left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px; }

.rc_right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px; }

/* selectab */
#selectab {
  zoom: 1;
  min-width: 960px;
  padding: 0;
  z-index: 10;
  position: relative;
  top: 1px; }
  #selectab:before, #selectab:after {
    content: "";
    display: block;
    overflow: hidden; }
  #selectab:after {
    clear: both; }
  #selectab li {
    background-color: #E3E3E3;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    display: inline;
    float: right;
    padding: 8px;
    min-width: 60px;
    text-align: center;
    margin: 0 3px 0 3px;
    font-size: 85%; }
    #selectab li a, #selectab li a:link{
      display: block;
      min-width: 60px;
      color: #444;
      text-decoration: none; }
  #selectab li.current {
    background-color: #F0F0F0;
    color: #000;
    font-weight: bold; }

    #selectab li.current a, #selectab li.current a:link {
      color: #000; }



ol.crumb {
  zoom: 1;
  min-width: 960px;
  list-style: none;
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 0;
  border: solid 1px #CCC;
  color: #FFF;
  background-color: #F0F0F0; }
  ol.crumb:before, ol.crumb:after {
    content: "";
    display: block;
    overflow: hidden; }
  ol.crumb:after {
    clear: both; }
  ol.crumb li {
    font-weight: bold;
    font-size: 95%;
    float: left;
    margin: 0;
    letter-spacing: 0; }
    ol.crumb li a {
      color: white;
      text-decoration: none;
      padding: 5px 0 5px 45px;
      background: #7DB72F;
      background: #7cb62f;
      position: relative;
      display: block;
      float: left; }
      ol.crumb li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #7CB72F;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2; }
      ol.crumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #F0F0F0;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1; }
    ol.crumb li:first-child a {
      padding-left: 10px; }
    ol.crumb li:nth-child(2) a {
      background: #95D048; }
    ol.crumb li:nth-child(2) a:after {
      border-left-color: #95D048; }
    ol.crumb li:nth-child(3) a {
      background: #A1D65D; }
    ol.crumb li:nth-child(3) a:after {
      border-left-color: #A1D65D; }
    ol.crumb li:nth-child(4) a {
      background: #ADDB71; }
    ol.crumb li:nth-child(4) a:after {
      border-left-color: #ADDB71; }
    ol.crumb li:nth-child(5) a {
      background: #B9E085; }
    ol.crumb li:nth-child(5) a:after {
      border-left-color: #B9E085; }
    ol.crumb li:last-child a {
      background: transparent !important;
      color: black;
      pointer-events: none;
      cursor: default; }
    ol.crumb li:last-child a:after {
      border: 0; }
    ol.crumb li a:hover {
      background: #45651a; }
    ol.crumb li a:hover:after {
      border-left-color: #45651A !important; }

/* button */
.button {
  letter-spacing: .1em;
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.button:hover {
  text-decoration: none; }

.button:active {
  position: relative;
  top: 1px; }

.button-bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em; }

.button-medium {
  font-size: 12px;
  padding: .4em 1.5em .42em; }

.button-small {
  font-size: 9px;
  padding: .2em 1em .275em; }

button.button-small {
  padding: .3em 1em .4em; }

.button-x-small {
  font-size: 11px;
  padding: .2em .5em .275em;
  width: 25px; }

/* color styles
---------------------------------------------- */
/* black */
.button-black {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
  background: -moz-linear-gradient(top, #666666, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }

.button-black:hover {
  color: #d7d7d7;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }

.button-black:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
  background: -moz-linear-gradient(top, black, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }

/* gray */
.button-gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }

.button-gray:hover {
  color: #e9e9e9;
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }

.button-gray:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
  background: -moz-linear-gradient(top, #575757, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }

/* white */
.button-white {
  color: #333;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }

.button-white:hover {
  color: #333;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
  background: -moz-linear-gradient(top, white, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }

.button-white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }

/* orange */
.button-orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }

.button-orange:hover {
  color: #fef4e9;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }

.button-orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }

/* red */
.button-red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }

.button-red:hover {
  color: #faddde;
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }

.button-red:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }

/* blue */
.button-blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }

.button-blue:hover {
  color: #d9eef7;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }

.button-blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }

/* rosy */
.button-rosy {
  color: #fae7e9;
  border: solid 1px #b73948;
  background: #da5867;
  background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
  background: -moz-linear-gradient(top, #f16c7c, #bf404f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }

.button-rosy:hover {
  color: #fae7e9;
  background: #ba4b58;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
  background: -moz-linear-gradient(top, #cf5d6a, #a53845);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }

.button-rosy:active {
  color: #dca4ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
  background: -moz-linear-gradient(top, #bf404f, #f16c7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }

/* green */
.button-green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }

.button-green:hover {
  color: #e8f0de;
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top, #6b9d28, #436b0c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }

.button-green:active {
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }

/* pink */
.button-pink {
  color: #feeef5;
  border: solid 1px #d2729e;
  background: #f895c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
  background: -moz-linear-gradient(top, #feb1d3, #f171ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab'); }

.button-pink:hover {
  color: #feeef5;
  background: #d57ea5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
  background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4'); }

.button-pink:active {
  color: #f3c3d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
  background: -moz-linear-gradient(top, #f171ab, #feb1d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3'); }

body {
  /* Page Numbers */ }
  body #header {
    zoom: 1;
    min-width: 960px;
    margin: 5px; }
    body #header:before, body #header:after {
      content: "";
      display: block;
      overflow: hidden; }
    body #header:after {
      clear: both; }
    body #header .logo {
      float: left;
      width: 200px; }
    body #header .header-session {
      margin-left: 250px;
      text-align: right;
      padding-right: 20px; }
  
  body #container {
    zoom: 1;
    width: 960px;
    margin: auto; }
    body #container:before, body #container:after {
      content: "";
      display: block;
      overflow: hidden; }
    body #container:after {
      clear: both; }
  body #main {
    zoom: 1;
    width: 960px; }
    body #main:before, body #main:after {
      content: "";
      display: block;
      overflow: hidden; }
    body #main:after {
      clear: both; }
  body form fieldset {
    border: 1px solid #CCC;
    padding: 10px;
    position: relative;
    background: #F2F2F2;
    margin-bottom: 10px;
    zoom: 1; }
    body form fieldset:before, body form fieldset:after {
      content: "";
      display: block;
      overflow: hidden; }
    body form fieldset:after {
      clear: both; }
    body form fieldset legend {
      font-size: 1.1em;
      padding: .4em .8em;
      background: #fff;
      border: 1px solid #bbb; }
    body form fieldset div.field_error {
      color: #f20056; }
    body form fieldset div.label {
      margin-bottom: 1em;
      margin-top: 0pt;
      width: 30%;
      float: left;
      min-height: 40px;
      margin-right: 3%;
      text-align: right;
      overflow: hidden;
      white-space: normal; }
      body form fieldset div.label label {
        /* width:98%; */
        font-weight: bold; }
    body form fieldset div.field_container {
      margin-bottom: 1em;
      min-height: 40px;
      margin-top: 0pt;
      width: 60%;
      float: left; }
      body form fieldset div.field_container input {
        /* width:98%; */ }
      body form fieldset div.field_container input.button {
        margin-left: 70%; }
      body form fieldset div.field_container input[type="text"], body form fieldset div.field_container input[type="password"] {
        font-size: large;
        padding: 5px;
        border: solid 1px #666;
        margin-bottom: 3px; }
      body form fieldset div.field_container select {
        font-size: large;
        padding: 5px;
        border: solid 1px #666;
        margin-bottom: 3px;
        background-color: #FFF; }
  body form p.notice {
    font-weight: bold; }
  body .next {
    text-align: right; }
  body .row {
    zoom: 1;
    width: 960px; }
    body .row:before, body .row:after {
      content: "";
      display: block;
      overflow: hidden; }
    body .row:after {
      clear: both; }
  body .col18 {
    float: left;
    width: 720px;
    margin-right: 0; }
  body .col16 {
    float: left;
    width: 640px;
    margin-right: 0; }
  body .col15 {
    float: left;
    width: 600px;
    margin-right: 0; }
  body .col12 {
    float: left;
    width: 480px;
    margin-right: 0; }
  body .col8 {
    float: left;
    width: 320px;
    margin-right: 0; }
  body .col6 {
    float: left;
    width: 240px;
    margin-right: 0; }
  body .col4 {
    float: left;
    width: 160px;
    margin-right: 0; }
  body .col3 {
    float: left;
    width: 120px;
    margin-right: 0; }
  body .box {
    padding: 5px;
    margin-right: 30px; }
  body h6 {
    margin-top: 10px;
    border-bottom: solid 1px #CCC; }
  body .pages {
    zoom: 1;
    margin: 1em 0; }
    body .pages:before, body .pages:after {
      content: "";
      display: block;
      overflow: hidden; }
    body .pages:after {
      clear: both; }
    body .pages a, body .pages span {
      color: #003366;
      display: block;
      float: left;
      padding: 0.2em 0.5em;
      margin-right: 0.1em;
      border: 1px solid #fff;
      background: #fff; }
    body .pages span.current {
      border: 1px solid #2E6AB1;
      font-weight: bold;
      background: #2E6AB1;
      color: #fff; }
    body .pages a {
      border: 1px solid #9AAFE5;
      text-decoration: none; }
    body .pages a:hover {
      border-color: #2E6AB1; }
    body .pages a.nextprev {
      font-weight: bold; }
    body .pages span.nextprev {
      color: #666; }
    body .pages span.nextprev {
      border: 1px solid #ddd;
      color: #999; }
    body .pages .nextprev-next {
      float: right; }
    body .pages h6 {
      color: #003366;
      border: none; }
  body div.message {
    zoom: 1;
    width: 960px;
    margin: 5px auto;
    font-weight: bold;
    padding: 5px; }
    body div.message:before, body div.message:after {
      content: "";
      display: block;
      overflow: hidden; }
    body div.message:after {
      clear: both; }
    body div.message li {
      margin: 0;
      list-style: none;
      font-weight: bold;
      line-height: 25px;
      padding-left: 25px;
      font-size: 120%; }
    body div.message li.message_error {
      color: #f20056;
      background: url("/static/icon/error.png") 0 0 no-repeat; }
    body div.message li.message_warn {
      color: #f20056;
      background: url("/static/icon/error.png") 0 0 no-repeat; }
    body div.message li.message_notice {
      color: #1e90ff;
      background: url("/static/icon/info.png") 0 0 no-repeat; }
  body .errmsg {
    font-size: 120%;
    font-weight: bold;
    line-height: 25px;
    padding-left: 25px;
    color: #f20056;
    background: url("/static/icon/error.png") 0 0 no-repeat; }
  body .notice {
    font-size: 120%;
    font-weight: bold;
    line-height: 25px;
    padding-left: 25px;
    color: #1e90ff;
    background: url("/static/icon/info.png") 0 0 no-repeat; }
  body .help {
    padding-left: 18px;
    background: url("/static/icon/help.png") 0 0 no-repeat; }
  body .highlight {
    font-weight: bold;
    color: #ffa500; }
  body ul.progress4 {
    zoom: 1;
    width: 800px;
    margin: auto; }
    body ul.progress4:before, body ul.progress4:after {
      content: "";
      display: block;
      overflow: hidden; }
    body ul.progress4:after {
      clear: both; }
    body ul.progress4 ol {
      float: left;
      width: 197px;
      border-top: solid 5px #8C8984;
      text-align: center;
      color: #8C8984;
      margin-right: 2px;
      padding-top: 8px; }
    body ul.progress4 ol.current {
      border-top: solid 10px #0191C8;
      font-weight: bold;
      color: #0191C8;
      padding-top: 3px; }
    body ul.progress4 ol.done {
      border-top: solid 10px #8C8984;
      padding-top: 3px; }
  body ul.progress3 {
    zoom: 1;
    width: 600px;
    margin: auto; }
    body ul.progress3:before, body ul.progress3:after {
      content: "";
      display: block;
      overflow: hidden; }
    body ul.progress3:after {
      clear: both; }
    body ul.progress3 ol {
      float: left;
      width: 197px;
      border-top: solid 5px #8C8984;
      text-align: center;
      color: #8C8984;
      margin-right: 2px;
      padding-top: 8px; }
    body ul.progress3 ol.current {
      border-top: solid 10px #0191C8;
      font-weight: bold;
      color: #0191C8;
      padding-top: 3px; }
    body ul.progress3 ol.done {
      border-top: solid 10px #8C8984;
      padding-top: 3px; }
  body .img_resize40 {
    text-align: center; }
    body .img_resize40 img {
      max-width: 40px;
      max-height: 40px;
      width: expression(this.width >= this.height ? 40px : "auto");
      height: expression(this.width <= this.height ? 40px : "auto"); }
  body .img_resize60 {
    text-align: center; }
    body .img_resize60 img {
      max-width: 60px;
      max-height: 60px;
      width: expression(this.width >= this.height ? 60px : "auto");
      height: expression(this.width <= this.height ? 60px : "auto"); }
  body .img_resize80 {
    text-align: center; }
    body .img_resize80 img {
      max-width: 80px;
      max-height: 80px;
      width: expression(this.width >= this.height ? 80px : "auto");
      height: expression(this.width <= this.height ? 80px : "auto"); }
  body .img_resize150 {
    text-align: center; }
    body .img_resize150 img {
      max-width: 150px;
      max-height: 150px;
      width: expression(this.width >= this.height ? 150px : "auto");
      height: expression(this.width <= this.height ? 150px : "auto"); }
  body .img_resize300 {
    text-align: center; }
    body .img_resize300 img {
      max-width: 300px;
      max-height: 300px;
      width: expression(this.width >= this.height ? 300px : "auto");
      height: expression(this.width <= this.height ? 300px : "auto"); }
  body .clearfix {
    zoom: 1; }
    body .clearfix:before, body .clearfix:after {
      content: "";
      display: block;
      overflow: hidden; }
    body .clearfix:after {
      clear: both; }
  body .next-prev {
    zoom: 1; }
    body .next-prev:before, body .next-prev:after {
      content: "";
      display: block;
      overflow: hidden; }
    body .next-prev:after {
      clear: both; }
    body .next-prev .next {
      width: 50%;
      float: right; }
    body .next-prev .prev {
      width: 50%;
      float: left; }
  body .contents1 {
    width: 720px;
    margin-right: 0;
    margin: auto; }
  body table.cust_info {
    border: solid 1px #CCC; }
    body table.cust_info th, body table.cust_info td {
      border-bottom: solid 1px #CCC; }
    body table.cust_info th {
      width: 200px;
      text-align: right;
      border-right: solid 1px #CCC; }

  body div.dg_payment_sel p{
      margin-left: 2em;
  }

/* Popup navigation  */
.popup_nav {
      z-index:15;
      position: relative;}
  .popup_nav > ul{
      display:none;
      width:auto;
      position:absolute;
      margin-left:0px;
      padding:3px;

/*     font-weight:bold; 
      font-size:130%;
*/
  }
  .popup_nav > ul > li{
      background-color:  #FFFAF0 !important ;
      border: solid 1px #CCC;
      display: block;
      float: left;
      padding: 8px;
      min-width: 60px;
      text-align: center;
      margin: 0 3px 0 3px;
      width :210px;
  }
  .popup_nav > ul > li > a{
      font-size: 12px;
      font-weight:bold;
      color : black;
      text-decoration: none;
      white-space:nowrap;
  }

  .popup_nav:hover > ul {
      opacity: 1;
      top: 20px;
      left:-5px;
      visibility: visible;
      display:block;
      z-index:20;
  }

/*  tab Navigation */
ul.tab-nav {
    border-bottom: 1px solid #7E7E7E;
    margin: 20px 0 0;
    text-align: left;
    margin-bottom:20px;
}
ul.tab-nav li {
    float: left;
    margin-right: 0px;
    list-style: none outside none;
}

ul.tab-nav li:first-child {
    margin-left: 10px;
    margin-right: 0px;
}
ul.tab-nav li a , ul.tab-nav li span{
    height:22px;
    background-color: #EFEFEF;
    border: 1px solid #7E7E7E;
    color: #535353;
    display: block;
    font-size: 0.7rem;
    margin: 0;
    padding: 8px 5px 10px 10px;
    position: relative;
    top: 1px;
}
ul.tab-nav li a:hover {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}
ul.tab-nav .activeTab {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight:bold;
    font-size:120%;
}
/*
ul.tab-nav .cfx:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
ul.tab-nav .cfx {
    zoom :1;
}
*/

span.basic_price {
    text-decoration: line-through;
    font-size: 80%;
}

span.sale_price {
    color:#F37735;
    font-size:110%;
    font-weight:bold;
}

#run_app{
    width:60%;
    height:40px;
    margin-bottom:20px;
}