#contents #attentionArea {
    background: #ef3538;
    margin-bottom: 10px;
    padding: 10px 10px 7px;
}

#contents #attentionArea .attLabel {
    display: inline-block;
    float: left;
    background: #ffffff;
    color: #ef3538;
    padding: 2px 4px;
    margin-right: 10px;
}

#contents #attentionArea ul {
    overflow: hidden;
}

#contents #attentionArea ul li {
    margin-bottom: 2px;
}

#contents #attentionArea ul li a {
    color: #ffffff;
}

@media screen and (max-width: 680px) {
    #contents #attentionArea .attLabel {
        float: none;
    }

    #contents #attentionArea ul {
        margin-top: 5px;
    }

    #contents #attentionArea ul li a span {
        display: block;
    }
}

#contents #infoArea .cntInfo {
    width: 100%;
    float: left;
    margin-right: -235px;
}

#contents #infoArea .cntInfo .cntInfoBox {
    background: #ffffff;
    border-bottom: 1px solid #c8c7c7;
    position: relative;
    margin-right: 235px;
    padding: 15px 14px 14px;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-title span {
    display: block;
    background: url(../asset/images/icon_info-820ed357a856b019d49bd3d26d7f55ea.gif) 0 0 no-repeat;
    float: left;
    margin-right: 10px;
    padding-left: 33px;
}

#contents #infoArea .cntInfo .cntInfoBox ul,#contents #infoArea .cntInfo .cntInfoBox .ticker-wrapper {
    overflow: hidden;
    position: relative;
}

#contents #infoArea .cntInfo .cntInfoBox .infodate {
    float: left;
    margin-right: 7px;
    background: url(../asset/images/icon_infodate-fb97990078db663c7c7520f33bee8181.gif) 0 0.4em no-repeat;
    padding-left: 12px;
}

#contents #infoArea .cntInfo .cntInfoBox .infotxt {
    float: left;
    overflow: hidden;
}

#contents #infoArea .cntInfo .cntInfoBox .infotxt img {
    vertical-align: middle;
    margin-right: 2px;
}

#contents #infoArea .cntInfo .cntInfoBox p {
    margin: 0;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker {
    padding-right: 80px;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0.1;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls li.jnt-play-pause {
    background: url(../asset/images/news_pause-ba8e04e8b00ec1cb353d85672f0e0200.gif) 0 0 no-repeat;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls li.jnt-play-pause.paused {
    background: url(../asset/images/news_start-2271b3a340105e0306bdcef10dd0f4e3.gif) 0 0 no-repeat;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls li.jnt-prev {
    background: url(../asset/images/news_prev-60ca930abd30e4f3a4753f4ce496c7ee.gif) 0 0 no-repeat;
}

#contents #infoArea .cntInfo .cntInfoBox .ticker-controls li.jnt-next {
    background: url(../asset/images/news_next-3fa56a8a318b1a16811c4f8baa67d265.gif) 0 0 no-repeat;
}

#contents #infoArea .cntShare {
    background: #ffffff;
    border-bottom: 1px solid #c8c7c7;
    width: 230px;
    float: right;
    line-height: 0.1;
}

#contents #infoArea .cntShare .shareBtns h2 {
    float: left;
    margin-right: 7px;
    padding-top: 8px;
}

#contents #infoArea .cntShare .shareBtns ul {
    float: left;
}

#contents #infoArea .cntShare .shareBtns ul li {
    float: left;
    margin-right: 3px;
}

@media screen and (min-width: 680px) and (max-width: 1130px) {
    #contents #infoArea .cntInfo {
        float: none;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #contents #infoArea .cntInfo .cntInfoBox {
        margin-right: 0px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .ticker-title span {
        float: none;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .ticker {
        padding-right: 0px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .infodate {
        float: none;
    }

    #contents #infoArea .cntInfo .cntInfoBox .infotxt {
        display: block;
        text-overflow: ellipsis;
        width: 95%;
        overflow: hidden;
        white-space: nowrap;
    }

    #contents #infoArea .cntShare {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 680px) {
    #contents #infoArea .cntInfo {
        float: none;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #contents #infoArea .cntInfo .cntInfoBox {
        margin-right: 0px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .ticker-title span {
        float: none;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .ticker {
        padding-right: 0px;
    }

    #contents #infoArea .cntInfo .cntInfoBox .infodate {
        float: none;
    }

    #contents #infoArea .cntInfo .cntInfoBox .infotxt {
        display: block;
        text-overflow: ellipsis;
        width: 95%;
        overflow: hidden;
        white-space: nowrap;
    }

    #contents #infoArea .cntShare {
        display: none;
    }
}

#contents #infoArea .cntShare form.search input.sTxt {
    background: url(../asset/images/icon_search-5f8dab2d017d1b942baf0f7366c2edbf.gif) 4px 4px no-repeat #ededed;
    border: 1px solid #c8c7c7;
    padding: 2px 2px 2px 25px;
    width: 130px;
}

#contents #infoArea .cntShare form.search input.sBtn {
    background: #ff8400;
    color: #ffffff;
    border: none;
    padding: 3px 5px;
    letter-spacing: +2px;
    cursor: pointer;
    border-radius: 0px;
    -webkit-appearance: none;
}

#contents #filterArea {
    clear: both;
    margin: 0 auto 4px;
    padding-top: 10px;
}

#contents #filterArea ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 6px;
}

#contents #filterArea ul li span {
    display: inline-block;
    text-align: center;
    background: #c8c7c7;
    color: #ffffff;
    padding: 5px 10px 4px;
    min-width: 50px;
    border-radius: 2px;
    cursor: pointer;
}

#contents #filterArea ul li span:hover,#contents #filterArea ul li span.selected {
    background: #ff8400;
}

#contents #filterArea ul li span#filter_sns:hover,#contents #filterArea ul li span#filter_sns.selected {
    background: #40c1eb;
}

#contents #filterArea ul li span#filter_info:hover,#contents #filterArea ul li span#filter_news.selected {
    background: #b5cc1a;
}

#contents #filterArea ul li span#filter_info:hover,#contents #filterArea ul li span#filter_event.selected {
    background: #b5cc1a;
}

#contents #filterArea ul li span#filter_event:hover,#contents #filterArea ul li span#filter_sns.filter_event {
    background: #b5cc1a;
}

#contents #filterArea ul li span#filter_news:hover,#contents #filterArea ul li span#filter_sns.filter_event {
    background: #b5cc1a;
}

#contents #filterArea ul li span#filter_special:hover,#contents #filterArea ul li span#filter_special.selected {
    background: #f76a7e;
}

@media screen and (min-width: 680px) and (max-width: 1130px) {
    #contents #filterArea {
        clear: none;
    }

    #contents #filterArea ul li span {
        padding: 5px 7px 4px;
        min-width: 40px;
    }
}

@media screen and (max-width: 680px) {
    #contents #filterArea {
        padding-top: 0px;
    }

    #contents #filterArea ul li span {
        padding: 5px 7px 4px;
        min-width: 40px;
    }
}

#contentBox {
    clear: both;
    max-width: 1716px;
    margin: auto;
}

@media screen and (max-width: 1230px) {
    #contentBox {
        max-width: 924px;
    }
}

@media screen and (min-width: 1230px) {
    #contentBox {
        max-width: 1188px;
    }
}

@media screen and (min-width: 1500px) {
    #contentBox {
        max-width: 1452px;
    }
}

@media screen and (min-width: 1760px) {
    #contentBox {
        max-width: 1716px;
    }
}

#contentBox .boxL {
    width: 260px;
    height: 260px;
    overflow: hidden;
    background: #ffffff;
    margin: 2px;
}

#contentBox .boxM {
    width: 260px;
    height: 128px;
    overflow: hidden;
    background: #ffffff;
    margin: 2px;
}

#contentBox .boxS {
    width: 128px;
    height: 128px;
    overflow: hidden;
    background: #ffffff;
    margin: 2px;
}

#contentBox .boxMain {
    width: 656px;
    height: 392px;
    overflow: hidden;
    background: #ffffff;
    margin: 2px;
}

#contentBox .boxL:hover,#contentBox .boxM:hover,#contentBox .boxS:hover,#contentBox .boxMain:hover {
    box-shadow: 0px 0px 3px 2px #999999;
}

#contentBox a:hover {
    color: #363636;
    text-decoration: none;
}

@media screen and (max-width: 680px) {
    #contentBox .boxMain {
        width: 100%;
        height: auto;
    }
}

#contentBox a.itemPic {
    display: block;
    padding: 5px;
}

#contentBox a.itemPic .itemWrap {
    display: block;
    position: relative;
}

#contentBox .itemWrap .upIcon {
    position: absolute;
    top: -2px;
    left: -5px;
    line-height: 0.1;
}

#contentBox .boxL a.itemPic .itemWrap .itemInfo {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #000000;
    color: #ffffff;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#contentBox .boxL a.itemPic .itemCmp {
    display: block;
    font-size: 85%;
    padding: 15px 12px 5px;
}

#contentBox .boxL a.itemPic .itemName {
    display: block;
    padding: 0 12px 10px;
    font-size: 116%;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 226px;
    overflow: hidden;
    white-space: nowrap;
}

#contentBox .boxL a.itemPic:hover .itemInfo {
    display: none;
}

#contentBox .boxL .itemWrap .upItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    display: block;
    width: 100%;
    padding-bottom: 4px;
}

#contentBox .boxL .itemWrap .upItem .upType {
    display: inline-block;
    padding: 2px 5px;
    float: right;
    background: #ff8400;
    color: #ffffff;
    font-size: 85%;
}

#contentBox .boxL a.itemPic:hover .upItem {
    display: none;
}

#contentBox .boxL .twList {
    padding: 10px 7px;
}

#contentBox .boxL .twList .twListTtl {
    float: left;
    display: inline-block;
    background: url(../asset/images/icon_twitter-c00e6bedb724218ee3f4921a38581133.gif) left no-repeat;
    padding-left: 14px;
}

#contentBox .boxL .twList .twListMore {
    float: right;
    display: inline-block;
    background: #ededed;
    font-weight: bold;
    padding: 2px 7px 2px 5px;
    font-size: 85%;
}

#contentBox .boxL .twList ul.twListIcon {
    line-height: 0.1;
    margin-top: 10px;
}

#contentBox .boxL .twList ul.twListIcon li {
    float: left;
    width: 55px;
    margin: 0 5px 10px 0;
}

#contentBox .boxL .twList ul.twListIcon li a {
    width: 55px;
    background-size: cover !important;
}

#contentBox .boxL .twList ul.twListIcon li a img {
    width: 55px;
    height: 55px;
}

#contentBox .boxL .twList ul.twListIcon li a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#contentBox .boxL a.blogUp {
    display: block;
    padding: 5px;
}

#contentBox .boxL a.blogUp .blogWrap {
    display: block;
    position: relative;
    height: 250px;
}

#contentBox .boxL a.blogUp .blogWrap .upIcon {
    position: absolute;
    top: -2px;
    left: -5px;
    line-height: 0.1;
}

#contentBox .boxL a.blogUp .blogWrap .blogName {
    display: block;
    font-weight: bold;
    margin: 5px 0;
    background: url(../asset/images/icon_blog-23aff204846f0f6dba34393c83c8246e.gif) left no-repeat;
    padding-left: 22px;
}

#contentBox .boxL .blogWrap .upItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    display: block;
    width: 100%;
    padding-bottom: 4px;
}

#contentBox .boxL .blogWrap .upItem .upType {
    display: inline-block;
    padding: 2px 5px;
    float: right;
    background: #40c1eb;
    color: #ffffff;
    font-size: 85%;
}

#contentBox .boxL a.blogUp:hover .upItem {
    display: none;
}

#contentBox .boxM .tweetBox {
    padding: 8px;
    font-size: 85%;
    overflow: hidden;
}

#contentBox .boxM .tweetBox a {
    color: #3399CC;
}

#contentBox .boxM .tweet_new {
    border-left: 10px solid #40c1eb;
    padding-left: 5px;
    height: 112px;
    overflow: hidden;
    margin: 5px 7px 5px 5px;
}

#contentBox .boxM .tweet_new iframe {
    border: none !important;
}

#contentBox .boxM a.tweet_avatar {
    float: left;
    margin-right: 6px;
}

#contentBox .boxM .tweet_text {
    display: block;
}

#contentBox .boxM .tweet_content {
    overflow: hidden;
}

#contentBox .boxM a.newsPost {
    display: block;
    padding: 10px;
    height: 100%;
    font-size: 92%;
}

#contentBox .boxM a.newsPost .neDate {
    float: left;
}

#contentBox .boxM a.newsPost .neLabel {
    float: right;
    display: inline-block;
    background: #b5cc1a;
    color: #ffffff;
    padding: 2px 5px;
    font-size: 92%;
}

#contentBox .boxM a.newsPost .neTtl {
    clear: both;
    display: block;
    padding: 5px 0;
}

#contentBox .boxM a.newsPost .neMore {
    display: inline-block;
    background: #ededed;
    font-weight: bold;
    padding: 2px 7px 2px 5px;
}

#contentBox .boxM a.eventPost {
    display: block;
    padding: 10px;
    height: 100%;
    font-size: 92%;
}

#contentBox .boxM a.eventPost .evDate {
    float: left;
}

#contentBox .boxM a.eventPost .evLabel {
    float: right;
    display: inline-block;
    background: #b5cc1a;
    color: #ffffff;
    padding: 2px 5px;
    font-size: 92%;
}

#contentBox .boxM a.eventPost .evTtl {
    clear: both;
    display: block;
    padding: 5px 0;
}

#contentBox .boxM a.eventPost .evMore {
    display: inline-block;
    background: #ededed;
    font-weight: bold;
    padding: 2px 7px 2px 5px;
}

#contentBox .boxM a.shippingPost {
    display: block;
    padding: 10px;
    height: 100%;
    font-size: 92%;
}

#contentBox .boxM a.shippingPost .shiDate {
    float: left;
}

#contentBox .boxM a.shippingPost .shiLabel {
    float: right;
    display: inline-block;
    background: #b5cc1a;
    color: #ffffff;
    padding: 2px 5px;
    font-size: 92%;
}

#contentBox .boxM a.shippingPost .shiTtl {
    clear: both;
    display: block;
    padding: 5px 0;
}

#contentBox .boxM a.shippingPost .shiMore {
    display: inline-block;
    background: #ededed;
    font-weight: bold;
    padding: 2px 7px 2px 5px;
}

#contentBox .itemWrap .upIcoItem {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0.1;
    background: #ff8400;
    text-indent: -9999px;
    overflow: hidden;
    width: 13px;
    height: 9px;
}

#contentBox .itemWrap .upIcoInfo {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0.1;
    background: #b5cc1a;
    text-indent: -9999px;
    overflow: hidden;
    width: 13px;
    height: 9px;
}

#contentBox .blogWrap .upIcoBlog {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0.1;
    background: #40c1eb;
    text-indent: -9999px;
    overflow: hidden;
    width: 13px;
    height: 9px;
}

#contentBox a:hover .upIcoItem,#contentBox a:hover .upIcoInfo,#contentBox a:hover .upIcoBlog {
    display: none;
}

#contentBox .boxS .rtBox {
    padding: 5px;
    overflow: hidden;
}

#contentBox .boxS .rtBox .rtBackImg {
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 118px;
}

#contentBox .boxS .rtBox .rtBack {
    background: #000000;
    height: 118px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#contentBox .boxS .rtBox .rtBack a {
    display: block;
    color: #ffffff;
    font-weight: bold;
}

#contentBox .boxS .rtBox .rtPost {
    margin: 0 8px 3px;
    padding-top: 8px;
    font-size: 85%;
}

#contentBox .boxS .rtBox .rtNum {
    display: block;
    font-size: 140%;
}

#contentBox .boxS .rtBox .rtUser {
    margin: 0 8px;
    font-size: 80%;
}

#contentBox .boxS a.blogLink {
    display: block;
    padding: 5px;
}

#contentBox .boxS a.blogLink .blogWrap {
    display: block;
    height: 118px;
    position: relative;
}

#contentBox .boxS a.blogLink .blogName {
    display: block;
    margin: 5px 0 0;
    background: url(../asset/images/icon_blog-23aff204846f0f6dba34393c83c8246e.gif) left no-repeat;
    padding-left: 20px;
    font-size: 80%;
}

#contentBox .boxMain a {
    display: block;
    padding: 5px;
}

#contentBox .boxMain img {
    margin-left: 1px;
    margin-top: 1px;
}

.resaleInfo {
    font-weight: bold;
    color: red;
}

.wrapper>.container.content {
    padding: 0px;
}

#contents #infoArea .cntShare .shareBtns {
    padding: 5px 0 8px 10px;
}

#contents #infoArea .cntShare form.search input.sTxt {
    margin-top: 8px;
}

#contents #infoArea .cntShare form.search input.sBtn {
    padding: 3px 6px 2px;
    margin-top: 5px;
}

.blogImg {
    background-position: 0% 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 175px;
}

ul.bjqs {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}

li.bjqs-slide {
    position: absolute;
    display: none;
}

ul.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul.bjqs-controls.v-centered li a {
    position: absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
    right: 0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
    left: 0;
}

ol.bjqs-markers {
    list-style: none;
    padding: 0;
    margin: -4px 0;
    width: 100%;
}

ol.bjqs-markers.h-centered {
    text-align: center;
}

ol.bjqs-markers li {
    display: inline;
}

ol.bjqs-markers li a {
    display: inline-block !important;
}

p.bjqs-caption {
    display: block;
    width: 96%;
    margin: 0;
    padding: 2%;
    position: absolute;
    bottom: 0;
}

.active-marker a {
    color: #f6a427 !important;
}

.active-marker a:hover {
    color: #f6a427 !important;
}

.socialbuttons_top {
    position: relative;
    z-index: 5;
    float: right;
    right: 10px;
}

.socialbuttons_top a:hover {
    text-decoration: none;
}

.control-label {
    display: none;
}

.controls {
    display: inline;
}

.control-group {
    display: inline;
}

#contentBox .boxL .itemWrap .upItem .upType {
    top: 0px;
    right: 0px;
    position: inherit;
}

#contentBox .boxL .itemWrap .upItem {
    min-height: 24px;
}

.newicon {
    float: left;
    color: #ff7e00;
    font-weight: bold;
    margin-left: 5px;
}