<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ruserba.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterKartuServlet</servlet-name>
        <servlet-class>ruserba.servlets.RegisterKartuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>ruserba.servlets.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveTableBarangServlet</servlet-name>
        <servlet-class>ruserba.servlets.RetrieveTableBarangServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterKartuServlet</servlet-name>
        <url-pattern>/RegisterKartuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveTableBarangServlet</servlet-name>
        <url-pattern>/RetrieveTableBarangServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp?page=error</location>
    </error-page>
--&gt;
    </web-app>
