<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TubesWBD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseAccesses</display-name>
    <servlet-name>DatabaseAccesses</servlet-name>
    <servlet-class>DatabaseAccesses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAccesses</servlet-name>
    <url-pattern>/DatabaseAccesses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXaddtochart</display-name>
    <servlet-name>AJAXaddtochart</servlet-name>
    <servlet-class>AJAXaddtochart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXaddtochart</servlet-name>
    <url-pattern>/AJAXaddtochart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXaccountinfo</display-name>
    <servlet-name>AJAXaccountinfo</servlet-name>
    <servlet-class>AJAXaccountinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXaccountinfo</servlet-name>
    <url-pattern>/AJAXaccountinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXregister</display-name>
    <servlet-name>AJAXregister</servlet-name>
    <servlet-class>AJAXregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXregister</servlet-name>
    <url-pattern>/AJAXregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXcard</display-name>
    <servlet-name>AJAXcard</servlet-name>
    <servlet-class>AJAXcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXcard</servlet-name>
    <url-pattern>/AJAXcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXcekkartu</display-name>
    <servlet-name>AJAXcekkartu</servlet-name>
    <servlet-class>AJAXcekkartu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXcekkartu</servlet-name>
    <url-pattern>/AJAXcekkartu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXedit</display-name>
    <servlet-name>AJAXedit</servlet-name>
    <servlet-class>AJAXedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXedit</servlet-name>
    <url-pattern>/AJAXedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detil</display-name>
    <servlet-name>detil</servlet-name>
    <servlet-class>detil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detil</servlet-name>
    <url-pattern>/detil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXlogin</display-name>
    <servlet-name>AJAXlogin</servlet-name>
    <servlet-class>AJAXlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXlogin</servlet-name>
    <url-pattern>/AJAXlogin</url-pattern>
  </servlet-mapping>
</web-app>